.name-input{
    outline:#3182ce;
}

.name-input.invalid{    
    z-index: 1;
    border-color: crimson;
    box-shadow: 0 0 0 1px #da4b4b;
}

.name-input.invalid:focus, .name-input.invalid[data-focus] {
    z-index: 1;
    border-color: crimson;
    box-shadow: 0 0 0 1px #da4b4b;
}